body {
	background-image:
		url(/mult/img/15.jpg);
	background-repeat: repeat;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: opx;
}

.tableMult{
	border: 1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	width:98%;
	text-align:center;
}

td:hover
{
	background-color: blue;
	font-style: italic;

}